@model LeadifyAssessment.DataLayer.Models.ContactModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.FirstName's details</h2>

<div>
    <hr />
    <dl class="dl-horizontal jumbotron-details">
        <dt style="text-align:left; padding-left:15px; color:#ffffff; font-weight:400; text-shadow:1px 1px black">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        
        <dd style="text-align:left; color:#ffffff; font-weight:400; text-shadow:1px 1px black">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <br />
        <dt style="text-align:left; padding-left:15px; color:#ffffff; font-weight:400; text-shadow:1px 1px black">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd style="text-align:left; color:#ffffff; font-weight:400; text-shadow:1px 1px black">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <br />
        <dt style="text-align:left; padding-left:15px; color:#ffffff; font-weight:400; text-shadow:1px 1px black">
            @Html.DisplayNameFor(model => model.CellPhone)
        </dt>

        <dd style="text-align:left; color:#ffffff; font-weight:400; text-shadow:1px 1px black">
            @Html.DisplayFor(model => model.CellPhone)
        </dd>
        <br />
        <dt style="text-align:left; padding-left:15px; color:#ffffff; font-weight:400; text-shadow:1px 1px black">
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd style="text-align:left; color:#ffffff; font-weight:400; text-shadow:1px 1px black">
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    <div class="btn btn-default">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ContactId })
    </div> |
    @Html.ActionLink("Back to List", "Index")
</p>
