@using PagedList.Mvc;
@using PagedList;
@model PagedList.IPagedList<LeadifyAssessment.DataLayer.Models.ContactModel>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="table-border jumbotron-contacts">
    <h2 class="shadow">Your contacts</h2>
    <div>
        @using (Html.BeginForm("Index", "Contact", FormMethod.Get))
        {
            <p class="table-font edit-text-color shadow">
                Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input type="submit" value="Search" />
            </p>
        }
        <table class="table table-font detail-background">
            <tr>
                <th class="table-header underline">
                    @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th class="table-header">
                    Last Name
                </th>
                <th class="table-header">
                    Contact Number
                </th>
                <th class="table-header">
                    Email
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CellPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ContactId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ContactId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ContactId })
                    </td>
                </tr>
            }

        </table>
        <br />
        <div  class="table-font edit-text-color shadow">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            <div>
                <div>
                    <button class="btn btn-default" type="button" id="addressSearch"
                            onclick="location.href='@Url.Action("Create", "Contact")'">
                        Add contact
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>

